.all {
  display: grid;
}

.title {
  text-align: center;
  color: black;
}

.title p {
  margin-top: 0;
  margin-bottom: 50px;
}

.title h1 {
  margin-bottom: 0;
}

.title a {
  background: cornflowerblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
