.all {
  display: grid;
}

.title {
  text-align: center;
  color: black;
}

.title h1 {
  margin-bottom: 0;
}

.title p {
  margin-top: 0;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects {
  width: 350px;
  height: 200px;
  margin-top: 50px;
  border: solid 1px gray;
  border-radius: 15px;
  text-align: center;
  margin-right: 15px;
}

.projects p {
  padding-left: 5px;
  padding-right: 5px;
}
